@model IEnumerable<CourseChentsov.Models.Role>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Добавить нового", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("Навигация по сайту", "Navigation", "Home")</p>
