@model CourseChentsov.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверены что хотите удалить личные данные пользователя?</h3>
<div>
    <h4>Личные данные пользователя</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLogin.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться обратно", "Index")
        </div>
    }
</div>
